<html>
    <body>  
        <br><br><br><br>
    <div class="container centroDePagina2">

      <div class="jumbotron bg-danger">
        <h1>ERROR 404: No se ha encontrado la ruta</h1>
        <hr class="my-4">
        <p> Es posible que haya escrito mal la ruta o que aun no se haya desarrollado esta parte de la pagina. </p>
        <p class="lead">
          <a class="btn btn-dark btn-lg text-white" routerLink="/home" role="button">Volver a la Sala de Juegos</a>
        </p>
      </div>

    </div>  
  </body>
</html>
