<div class="container">
  <div class="row">

    <div class="col-sm-3">
      
      <h1>Pregunta:</h1>

      <div *ngIf="iniciar">

        <img src="{{imgDigimon}}" >

        <h2>¿Cómo se llaman los Digimon?</h2>
      </div>
    
    </div>

    <div class="col-sm-5">
      
      <div *ngIf="!respuestaCorrecta">
        <button *ngFor = "let dig of arrayDigimon" (click) = "RespuestaCorrecta(dig.name)"> {{dig.name}} </button>
      </div>

      <br>

      <h3>{{mensajeCorrecto}}</h3>


      <button type="submit" class="col btn" *ngIf="respuestaCorrecta" (click)="Repetir()"><i class="fas fa-undo"></i></button>
      <button type="submit" class="col btn" *ngIf="respuestaCorrecta" [routerLink]="['/home']" routerLinkActive="router-link-active" >Salir</button>
    
    </div>

    <div class="col-sm-4">
      <app-chat></app-chat>
    </div>
  </div>
</div>







<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; Rueda - 2021</p>
    <!--ul class="list-inline">
      <li class="list-inline-item"><a href="#">GitHub</a></li>
      <li class="list-inline-item"><a href="#">LinkedIn</a></li>
    </ul-->
  </footer>