<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>

  <div class="carousel-inner">
    <!--AHORCADO-->
    <div class="carousel-item active">
      <img src="./../../../assets/games/ahorcado.jpg"  class="d-block w-100" width="50%" height="50%">
        <div class="carousel-caption">
          <h1 class="h1_ahorcado">Ahorcado</h1>
          <p class="p_ahorcado">¿Serás capaz de descubrir la palabra?</p>
          <p><a class="btn btn-lg btn-primary btn_ahorcado" (click)='goAhorcado()'>VAMOS!</a></p>
        </div>      
    </div>

    <!--Mayor o Menor-->
    <div class="carousel-item">
      <img src="./../../../assets/games/imagenpoker.jpg" class="d-block w-100" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption div_mayorMenor">
          <h1 class="h1_MayorMenor">Mayor o Menor</h1>
          <p class="p_MayorMenor"><b> ¿Es mayor? ¿Es menor? Cuantas dudas… </b></p>
          <p><a class="btn btn-lg btn-primary btn_MayorMenor"  (click)='goMayorMenor()' >A JUGAR!</a></p>
        </div>
      </div>
    </div>

    <!--JUEGO PROPIO-->
    <div class="carousel-item">
      <img src="./../../../assets/games/gameColor.jpg" width="50%" height="50%">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1 class="h1_Colores">Colores</h1>
          <p class="p_Colores"><b> Son muchos colores... me confunden </b></p>
          <p><a class="btn btn-lg btn-primary"  (click)='goAdivinarColor()' >JUGAR!</a></p>
        </div>
      </div>
    </div>

    <!--Preguntados-->
    <div class="carousel-item">
      <img src="./../../../assets/games/preguntados.jpg" width="50%" height="50%">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Preguntados</h1>
          <p><b> Uff.. cuantas preguntas… </b></p>
          <p><a class="btn btn-lg btn-primary btn_Preguntados" (click)='goPreguntados()'>RESPONDER!</a></p>
        </div>
      </div>
    </div>    

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; Rueda - 2021</p>
  <!--ul class="list-inline">
    <li class="list-inline-item"><a href="#">GitHub</a></li>
    <li class="list-inline-item"><a href="#">LinkedIn</a></li>
  </ul-->
</footer>

