/* Carousel base class */
.carousel {
    /**margin-bottom: 4rem;*/
    margin-bottom:10px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .h1_ahorcado{
      color: rgb(251, 0, 0);
      font-weight:800;
      font-style: normal;    
      
  }
  .p_ahorcado{
    color: rgb(251, 0, 0);
    font-weight:400px;
  }
  .btn {
      background-color: rgb(251, 0, 0);
      border-color: rgb(251, 0, 0);
  }
  


  .h1_MayorMenor{
    
    color: rgb(251, 0, 0);
    font-weight:800;
    font-style: normal;     
}
.p_MayorMenor{
    color: rgb(251, 0, 0);
    font-weight:400px; 
}


.h1_Colores{
    font-weight:800;
    font-style: normal; 
}
.p_Colores{
  font-weight:400px; 
}






  

