<body>
    <div class="contenedor">
        <header>
            <h1>¿Quien soy?</h1>
        </header>
    
        <section class="main">
            <img src="./../../../assets/yo.jpg" >
            <p> 
                Soy <b>Matias Mauro Rueda</b>, estudiante de <b> TECNICATURA UNIVERSITARIA EN PROGRAMACIÓN </b>de la UTN-FRA. Esta es una pagina fue diseñada a razón del Trabajo Practico “Sala de Juegos” correspondiente a la materia de Laboratorio 4.
            </p>
            <button routerLink="/home" style="color: white;" class="nav-link">volver al Inicio</button>
        </section>
    
        <aside>
            <h2>Juego propio: Colores</h2>
            <p> El juego consiste en que el usuario debe decir el color en base a una pregunta </p>
            
            <button (click)='goAdivinarColor()'><img  src="./../../../assets/games/gameColor.jpg"></button>
        </aside>
        
    </div>
    <div class="contenedorB">
        <app-footer></app-footer>
    </div>
</body>
