<body class="text-center">

    <form class="form-signin" [formGroup] = "registroForm" (ngSubmit)="Registar()">
      <img class="mb-4" src="./../../../assets/consola-de-juego.png" alt="" width="72" height="72">
  
      <h1 class="title">Registrar</h1>

      <br>

      <div class="field">
        <div class="control has-icons-left has-icons-right">
          <input class="input" placeholder="Email" 
          [class.is-danger]="eamil_campoInvalido"
          [class.is-success]="eamil_campoValido" 
          type="email" formControlName="email" >
          <span class="icon is-small is-left">
            <i class="fas fa-at"></i>
          </span>
          <span class="icon is-small is-right" *ngIf="eamil_campoInvalido; else noInvalido"> <!--Cruz-->
            <i class="fas fa-times"></i>
          </span>
          <ng-template #noInvalido>
            <span class="icon is-small is-right"> <!--Tilde-->
              <i class="fas fa-check"></i>
            </span>
          </ng-template>        
        </div>
        <div *ngIf="eamil_campoInvalido">        
          <p class="help is-danger" *ngIf="email_campo?.hasError('required')">Campo vacio</p>
          <p class="help is-danger" *ngIf="email_campo?.hasError('email')">Debe respetar el formato example@example.com</p>
        </div>      
      </div>
  
      <div class="field">
        <div class="control has-icons-left">
          <input class="input" 
          [class.is-danger]="password_campoInvalido"
          [class.is-success]="password_campoValido"
          type="password" formControlName="password" placeholder="Contraseña">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>      
        </div>
        <div *ngIf="password_campoInvalido">        
          <p class="help is-danger" *ngIf="password_campo?.hasError('required')">Campo vacio</p>
          <p class="help is-danger" *ngIf="password_campo?.hasError('minLength')">Minimo 6 caracteres</p>
        </div> 
        
      </div>



      <br>
  
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!registroForm.valid">Registrarme</button>
      <hr>
      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="Login()">Ya tengo cuenta</button>
      
      <p class="mt-5 mb-3 text-muted">&copy; Rueda - 2021</p>
    </form>

    <div *ngIf="load">
      <div class="spinner">
        <img src="../../../assets/gif/pato.gif" >
      </div>  
    </div>  
  
  
  </body>
