.img__container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
  
img{
    height: 300px;
}

div .message{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: .5rem;
  }

div .counter{
    color: rgb(123, 29, 29);
    font-weight: bold;
    font-size: 1.5rem;
  }

div .h1Plabra{
    color: rgb(123, 29, 29);
}

div .letters{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: .3rem .6rem;
}

div .mensaje{
    border: 1px solid #666;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: #fff;
    text-align: center;
    font-weight: 900;
    border-radius: .5rem;
    background-color: rgb(123, 29, 29);
}



div .letter_button{
    font-size: 1rem;
    padding: .6rem 1.2rem;
    background-color: rgb(123, 29, 29);
    margin: .3rem .6rem;
    border-radius: .5rem;
    border: 1px solid #666;
    color: #fff;
    filter: drop-shadow(0px 0px 2px#666);
    font-weight: 400;
}

div .botones_resultados{
    align-items: center;
    margin-top: 1.5rem;
    display: flex;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: .5rem;
    border: 1px solid #666;
    filter: drop-shadow(0px 1px 2px #666);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: #fff;
    background-color:rgb(123, 29, 29);
}


